[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/limit-order-protocol"]
	path = lib/limit-order-protocol
	url = https://github.com/1inch/limit-order-protocol
[submodule "scripts/lib/limit-order-protocol"]
	path = scripts/lib/limit-order-protocol
	url = https://github.com/1inch/limit-order-protocol
